html,
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	/* Scrollbar */
	scrollbar-color: #c57df8 #1e192e;
	scrollbar-width: thin;
	/* Overscroll */
	overscroll-behavior: auto;
	background: rgba(36, 31, 53, 1);
}

body {
	background-position:
		0 0,
		0 0,
		0 0,
		0 0,
		0 0;
	background-size: 100% 100%;
	background-image: linear-gradient(
		125deg,
		rgba(24, 18, 43, 1) 0%,
		rgba(57, 48, 83, 1) 100%
	);
	perspective: 25em;
	font-family: "Rubik", sans-serif;

	animation: background-movement 60s ease infinite;
}

@keyframes background-movement {
	0% {
		background-position: 0% 83%;
	}
	50% {
		background-position: 100% 18%;
	}
	100% {
		background-position: 0% 83%;
	}
}

button {
	display: block;
	border: 0;
}

a {
	text-decoration: none;
	color: #c57df8;
}

.bio-container {
	margin-left: 13.5vw;
	margin-right: 13.5vw;
	margin-top: 12vh;

	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	column-gap: 12vw;

	animation: fade-in 0.5s ease-in-out;
}

.bio-container a {
	color: white;
}

.profile-picture-container {
	width: 10vw;
	height: 10vw;
	align-self: center;
}

.profile-picture {
	width: inherit;
	height: auto;
	border-radius: 50%;
	border: 5px solid transparent;
	transition: border 0.15s ease-in-out;
}

.profile-picture:hover,
.profile-picture-container:hover .profile-picture:not(:hover) {
	border: 5px solid white;
	transition: border 0.15s ease-in-out;
}

.github {
	position: relative;
	bottom: 25%;
	right: -75%;
	width: 20%;
	height: auto;

	opacity: 0;
	transition: opacity 0.15s ease-in-out;
}

.github:hover,
.profile-picture:hover + .github {
	opacity: 1;
	transition: opacity 0.15s ease-in-out;
}

.bio {
	color: white;
	font-size: clamp(2rem, 1.5vw, 5rem);
}

.no-response {
	color: lightgray;
	font-size: larger;

	visibility: hidden;
	opacity: 0;
	animation: 0.5s ease-in-out 5s fade-in forwards;
}

@keyframes fade-in {
	0% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: white;
}

.nav-bar {
	color: white;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	column-gap: 1vw;
	height: 5rem;

	padding-left: 5%;
	padding-right: 5%;
	backdrop-filter: grayscale(25%);
}

.nav-bar .socials {
	height: 2.5rem;
}

.nav-bar-element {
	font-size: 2rem;
}

.nav-bar-element a {
	color: white;
	text-decoration: none;

	transition: color 0.15s ease-in-out;
}

.nav-bar-element a p {
	margin-top: 0;
	margin-bottom: 0;
}

.nav-bar-element a:hover {
	color: lightgray;

	transition: color 0.15s ease-in-out;
}

.project {
	position: relative;
	display: flex;
	flex-direction: column;
	aspect-ratio: 16/9;
	width: 20vw;
	margin-top: 1vh;
	margin-bottom: 8vh;
	background-color: #443c68;
	color: white;
	animation:
		plop-in 0.75s ease-out,
		fade-in 0.5s ease-in-out;
	animation-fill-mode: both;
	border-radius: 5px;
	background-image: url("https://github.com/Steveplays28/realisticsleep/blob/main/docs/media/realistic_sleep.gif?raw=true");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-decoration: none;

	transition: filter 0.15s ease-in-out;
}

.project:hover {
	filter: brightness(125%);
	transform: translateY(-2vh);

	transition: filter 0.15s ease-in-out;
}

.project-title {
	position: relative;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	background-color: rgba(128, 128, 128, 0.5);
	font-size: 1vw;
	text-align: center;
}

@keyframes plop-in {
	0% {
		top: -20vh;
	}
	100% {
		top: 0;
	}
}

.projects {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	column-gap: 1vw;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 12vh;
	z-index: -1;
}

.socials {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	column-gap: 1vw;
	margin-left: auto;
	/* Increase the width to increase the space each social element gets, to avoid them becoming too small */
	width: 15em;
	height: 100%;
}

.socials a {
	width: auto;
	height: 100%;
	transition: filter 0.1s ease-in-out;
}

.socials a:hover {
	/* Color: #696969 converted to a filter via https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(43%) sepia(0%) saturate(12%) hue-rotate(226deg)
		brightness(93%) contrast(85%);
	transition: filter 0.1s ease-in-out;
}

.socials a img {
	width: auto;
	height: 100%;
}

.contact-text {
	text-align: center;
	margin-top: 12vh;
}

.title {
	font-size: 4vw;
}

.subtitle {
	font-size: 1vw;
	font-weight: lighter;
	margin-top: -4%;
	margin-bottom: 4%;
	margin-left: 5vw;
	margin-right: 5vw;
}

.contact-socials {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 6vh;
}

.gap {
	width: 3vw;
}

@media only screen and (max-width: 800px) {
	.nav-bar,
	.socials {
		column-gap: 3vw;
	}

	.socials {
		width: 20vw;
	}

	.bio {
		font-size: clamp(2rem, 3vw, 5rem);
	}

	.profile-picture-container {
		width: 20vw;
		height: 20vw;
	}

	.title {
		font-size: 8vw;
	}

	.subtitle {
		font-size: 4vw;
	}

	.contact-socials {
		width: 90vw;
	}

	.project-title {
		font-size: 2vw;
	}
}

@media only screen and (max-width: 1200px) and (min-height: 1600px) {
	.nav-bar,
	.socials {
		column-gap: 3vw;
		font-size: 3vw;
	}

	.socials {
		width: 20vw;
	}

	.socials a {
		width: 50%;
	}

	.bio {
		font-size: 3vw;
	}

	.profile-picture-container {
		width: 20vw;
		height: 20vw;
	}

	.projects {
		row-gap: 10vw;
	}

	.project {
		aspect-ratio: 16/9;
		width: 80vw;
		height: 20vh;
		transition: filter 0.15s ease-in-out;
	}

	.project-title {
		font-size: 4vw;
		margin-top: 21vh;
	}

	.title {
		font-size: 8vw;
	}

	.subtitle {
		font-size: 4vw;
	}

	.contact-socials {
		width: 90vw;
	}
}
