html,
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	/* Scrollbar */
	scrollbar-color: #c57df8 #1e192e;
	scrollbar-width: thin;
	/* Overscroll */
	overscroll-behavior: auto;
	background: rgba(36, 31, 53, 1);
}

body {
	background: linear-gradient(105deg, #1c418d 0%, #7b95c7 100%);
	background-size: 100% 100%;
	background-position:
		0 0,
		0 0,
		0 0,
		0 0,
		0 0;
	perspective: 25em;
	font-family: "Rubik", sans-serif;

	animation: background-movement 60s ease infinite;
}

@keyframes background-movement {
	0% {
		background-position: 0% 83%;
	}
	50% {
		background-position: 100% 18%;
	}
	100% {
		background-position: 0% 83%;
	}
}

button {
	display: block;
	border: 0;
}

a {
	text-decoration: none;
	color: #c57df8;
}

.bio-container {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;

	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	column-gap: 10vw;
}

.bio-container a {
	color: white;
}

.profile-picture-container {
	width: 10vw;
	height: 10vw;
	align-self: center;
}

.profile-picture {
	width: inherit;
	height: auto;
	border-radius: 50%;
	border: 5px solid transparent;
	transition: border 0.1s ease-in-out;
}

.profile-picture:hover,
.profile-picture-container:hover .profile-picture:not(:hover) {
	border: 5px solid white;
	transition: border 0.1s ease-in-out;
}

.github {
	position: relative;
	bottom: 25%;
	right: -75%;
	width: 20%;
	height: auto;

	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.github:hover,
.profile-picture:hover + .github {
	opacity: 1;
	transition: opacity 0.1s ease-in-out;
}

.bio {
	color: white;
	font-size: clamp(2rem, 1.5vw, 5rem);
}

.button-grid {
	display: flex;
	flex-flow: row wrap;
	gap: 2vw;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
}

.button {
	background-color: transparent;
	backdrop-filter: grayscale(12.5%);
	border: solid #afd3fd 5px;
	border-radius: 1em;
	padding: 1em;

	transition: border-color 0.05s ease-in-out;
}

.button:hover {
	border-color: #82bafd;

	transition: border-color 0.05s ease-in-out;
}

.button * {
	margin-top: 0;
	margin-bottom: 0;
	font-size: clamp(2rem, 1.5vw, 5rem);

	transition: color 0.05s ease-in-out;
}

.button:hover * {
	color: lightgray;

	transition: color 0.05s ease-in-out;
}

.no-response {
	color: lightgray;
	font-size: larger;

	visibility: hidden;
	opacity: 0;
	animation: 0.5s ease-in-out 5s fade-in forwards;
}

@keyframes fade-in {
	0% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: white;
}

.nav-bar {
	background: linear-gradient(
		105deg,
		#8f079c 0%,
		#9c076c 33.33%,
		#c00a86 66.67%,
		#e60ba1 100%
	);
	border-bottom: solid #e5e7ec 1px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	column-gap: 1vw;
	height: 5rem;
	padding-left: 10vw;
	padding-right: 10vw;
}

.nav-bar .socials {
	height: 2.5rem;
}

.nav-bar-element {
	font-size: 2rem;
}

.nav-bar-element a {
	text-decoration: none;
}

.nav-bar-element a p {
	color: white;

	transition: color 0.05s ease-in-out;
}

.nav-bar-element:hover a p {
	color: lightgray;

	transition: color 0.05s ease-in-out;
}

.nav-bar-element a p {
	margin-top: 0;
	margin-bottom: 0;
}

.project {
	position: relative;
	display: flex;
	flex-direction: column;
	aspect-ratio: 16/9;
	width: 19.25vw;
	background-color: #443c68;
	color: white;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-decoration: none;

	transition: filter 0.1s ease-in-out;
}

.project:hover {
	filter: brightness(125%);

	transition: filter 0.1s ease-in-out;
}

.project-title {
	display: flex;
	column-gap: 0.5rem;
	position: relative;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
	background-color: rgba(128, 128, 128, 0.5);
	font-size: 1.5em;
	text-align: center;
}

.project-title p {
	margin: auto;
}

.project-icon {
	width: auto;
	height: 1.5em;
	margin: auto;
}

.projects {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	column-gap: 1vw;
	row-gap: 1vw;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	z-index: -1;
}

.socials {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	column-gap: 1vw;
	margin-left: auto;
	width: auto;
	height: 100%;
}

.socials a {
	width: auto;
	height: 100%;
	transition: filter 0.1s ease-in-out;
}

.socials a:hover {
	/* Color: #696969 converted to a filter via https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(43%) sepia(0%) saturate(12%) hue-rotate(226deg)
		brightness(93%) contrast(85%);
	transition: filter 0.1s ease-in-out;
}

.socials a img {
	width: auto;
	height: 100%;
}

.header-text {
	text-align: center;
	margin-top: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
}

h1 {
	font-weight: normal;
	font-size: 7.5em;
	margin-bottom: 2.5vh;
}

h2 {
	font-weight: normal;
	font-size: 7em;
	margin-bottom: 2.5vh;
}

.subtitle {
	font-size: 2.5em;
	font-weight: lighter;
	margin-bottom: 10vh;
}

.contact-socials {
	width: auto;
	height: 5vh;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 10vh;
	flex-flow: row wrap;
	row-gap: 3vw;
}

.gap {
	width: 3vw;
}

@media only screen and (max-width: 1200px) {
	.bio {
		font-size: clamp(0.5rem, 2.75vw, 1.6rem);
	}

	.profile-picture-container {
		width: 20vw;
		height: 20vw;
	}

	.button * {
		font-size: clamp(0.5rem, 2.75vw, 1.6rem);
	}

	.project {
		width: 39.5vw;
	}
}

@media (orientation: portrait) {
	.contact-socials {
		height: 4vh;
		padding-top: 2.5vh;
	}
}
